{% extends 'blog/index.html' %}
{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
        <title>회원가입</title>
    {% endblock %}
</head>
<body>

{% block body %}
    <div class="d-flex flex-column align-items-center m-4 p-4">
        <p class="h1 mb-2">회원 가입</p>
        <form class="d-flex flex-column form-control  p-4" style="width: 50%;" action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">

            <div class="input d-flex flex-column mb-4">
                <p class="m-0 mb-1 h5">이름</p>
                {{ form.name }}
            </div>

            <div class="input d-flex flex-column mb-4">
                <p class="m-0 mb-1 h5">이메일</p>
                {{ form.email }}
            </div>

            <div class="input d-flex flex-column mb-4">
                <p class="m-0 mb-1 h5">아이디</p>
                {{ form.username }}
            </div>

            <div class="input d-flex flex-column mb-4">
                <p class="m-0 mb-1 h5">별명</p>
                {{ form.nickname }}
            </div>
            <div class="input d-flex flex-column mb-4">
                <p class="m-0 mb-1 h5">한줄 소개</p>
                {{ form.description }}
            </div>

            <div class="input d-flex flex-column mb-4">
                <p class="m-0 mb-1 h5">비밀번호</p>
                {{ form.password1 }}
            </div>

            <div class="input d-flex flex-column mb-4">
                <p class="m-0 mb-1 h5">비밀번호 확인</p>
                {{ form.password2 }}
            </div>
            <input class="btn btn-primary" style="height: 50px" type="submit" value="회원가입">
        </form>
    </div>

    <script>

        function setUp() {
            const $textArea = document.getElementById('id_description')
            $textArea.setAttribute('rows', '3')
            $textArea.classList.add('form-control')

            const $inputs = document.getElementsByClassName('input')
            for (let input of $inputs) {
                input.getElementsByTagName('input')[0].classList.add('form-control')

            }

            {#const $pw1 = document.getElementById('id_password1')#}
            {#$pw1.classList.add('form-control')#}
            {##}
            {#const $pw2 = document.getElementById('id_password2')#}
            {#$pw2.classList.add('form-control')#}
        }

        window.onload = () => setUp()
    </script>

{% endblock %}
</body>
</html>