{% extends 'blog/index.html' %}
{% load static %}
{% block title %}
    <title>비밀번호 변경</title>
{% endblock %}

{% block body %}
    <div class="container m-5 p-5 d-flex flex-column justify-content-center align-content-center">

        <form class="form-control d-flex flex-column p-4">
            <p class="h3 mb-3">비밀변호 변경</p>
            {{ form }}
            <input class="mt-4 btn btn-primary" style="height: 50px;" type="submit" value="확인">
        </form>
    </div>

    <script>

        function setup() {
            const form = document.querySelector('form');
            const inputs = form.querySelectorAll('input');

            for (let input of inputs) {
                input.classList.add("form-control");
            }
        }


        window.onload = () => setup()
    </script>
{% endblock %}