[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/OrmiTechBlog/.venv/bin/uwsgi -i /home/ubuntu/OrmiTechBlog/.config/uwsgi/myblog.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target