{% extends 'blog/index.html' %}
<!doctype html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
</head>
<body>

{% block body %}
    <h1>Blog</h1>
    <form action="" method="get">
        <label>
            <input type="text" name="q">
        </label>
        <input type="submit" value="search">
    </form>
    <div>
        total : {{ blogs.count }}
    </div>
    <a href="{% url 'blog:blog_list' %}">전체</a>
    {% for category in categorys.all %}
        <a href="{% url 'blog:blog_list' %}?category={{ category.name }}">{{ category.name }}</a>
    {% endfor %}
    {% for blog in blogs %}
        <img width="100px" height="100px" src="{{ blog.thumbnail.url }}" alt="썸네일">
        <h2>
            <a href="{% url 'blog:blog_detail' blog.pk %}">{{ blog.title }}</a></h2>
        <p>{{ blog.author }}</p>
        {% for category in blog.categorys.all %}
            <p>{{ category }}</p>
        {% endfor %}
    {% endfor %}
{% endblock %}
</body>
<script>
</script>
</html>


