<!doctype html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
</head>
<body>


{% if request.user.is_authenticated %}
    <a href="{% url 'blog:blog_create' %}">새 글 작성</a>
    <a href="{% url 'accounts:logout' %}">로그아웃</a>
{% else %}
    <a href="{% url 'accounts:login' %}">로그인</a>
    <a href="{% url 'accounts:signup' %}">회원 가입</a>
{% endif %}

<h1>Blog</h1>

<form action="" method="get">
    <label>
        <input type="text" name="q">
    </label>
    <input type="submit" value="search">
</form>

{% for blog in blogs %}
    <img width="100px" height="100px" src="{{ blog.thumbnail.url }}" alt="썸네일">
    <h2>
        <a href="{% url 'blog:blog_detail' blog.pk %}">{{ blog.title }}</a></h2>
    <p>{{ blog.author }}</p>
    {% for category in blog.categorys.all %}
        <p>{{ category }}</p>
    {% endfor %}




{% endfor %}
</body>

<script>

</script>
</html>


