{% extends 'blog/index.html' %}
<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    {% block title %}
        <title>Blog | {{ category.name }}</title>
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="container my-4 py-4 d-flex flex-column align-items-center" style="width: 100%;">
        <h1 class="d-flex align-self-start px-4 mx-4 mb-4">
            # {{ category.name }}
        </h1>

        <div class="d-flex flex-row justify-content-between mb-3"
             style="width: 100%; padding-left: 10%; padding-right: 10%">
            <p class="d-flex flex-row">
                총 {{ blogs.count }}개의 포스트
            </p>

            <form class="d-flex flex-row"
                  method="get">
                <select name="sort" onchange="sortBlog()" class="form-select">
                    <option {% if sort == "new" %} selected {% endif %}  value="new">최신순
                    </option>
                    <option {% if sort == "old" %} selected {% endif %} value="old">등록순</option>
                </select>
            </form>
        </div>

        {% for blog in blogs %}
            <div class="card mb-4" style="width: 750px">
                <a
                        class="overflow-hidden"
                        style="max-height: 350px"
                        href="{% url 'blog:blog_detail' blog.pk %}"
                >
                    <img
                            width="750px"
                            height="350px"
                            class="card-img-top"
                            src="http://ec2-3-36-31-98.ap-northeast-2.compute.amazonaws.com:8080{{ blog.thumbnail.url }}"
                            alt="..."
                    />
                </a>
                <div class="card-body">
                    <div class="small text-muted">{{ blog.created_at }}</div>
                    <h2 class="card-title h4">{{ blog.title }}</h2>
                    <p class="card-text">
                        {{ blog.content|striptags|truncatechars:100 }}
                    </p>
                    <a class="btn btn-primary" href="{% url 'blog:blog_detail' blog.pk %}"
                    >더보기 →</a
                    >
                </div>
            </div>
        {% endfor %}
    </div>


    <script>
        async function sortBlog() {
            const sort = document.querySelector('select[name="sort"]');

            window.location.href = `{% url 'blog:category_search' category.pk %}?sort=${sort.value}`
            console.log(sort.value)

        }
    </script>
{% endblock %}
</body>
</html>
